
body {
  background-color: #ffffff;
  padding-top: 16px;
  padding-right: 56px;
  padding-left: 56px;
  line-height: 1.5em;
  letter-spacing: 0.5px;
  text-align: justify;
  font-family: 'Play', sans-serif;
}

.topnav {
  position: relative;
  background-color: #fffff;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;

}

.topnav a:hover {
  color: #e6a395;
}

.topnav a.active {
  color: #d76d57;
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-family: 'Old Standard TT', serif;

}

.topnav-right {
  float: right;
}
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  margin: auto;
  width: 100%;
  padding-bottom: 1.5em;
}
.flex-container .box {
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  text-align: justify;
}

.box{
	position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .2s ease;
  background-color: rgba(225,145,128);
}

.box:hover .overlay {
  opacity: 1;
}

.text {
  width: 500px;
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Old Standard TT', serif;

}

.small-text{
	font-size: 18px;
	font-family: 'Old Standard TT', serif;
	font-style: italic;

}